.toolbar {
  align-items: center;
  background-color: #1976d2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  color: white;
  display: flex;
  flex: 1 1 auto;
  font-weight: 600;
  height: 60px;
  justify-content: center;

  .title {
    font-size: 1.5625em;
    font-family: "Kaushan Script", cursive;
  }
}
