@import '../../../styles';

.login-container {
  display: block;
  height: 100%;
  margin: 0 auto;

  .card-container {
    display: flex;
    justify-content: center;
    margin-top: 220px;

    .card-details {
      align-items: center;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25), 0 0px 5px rgba(0, 0, 0, 0.15);
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      max-width: 450px;

      .mat-card-footer {
        font-size: 14px;
        padding: 15px 0;

        a {
          color: $primary-2;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: $primary-1;
          }
        }
      }
    }
  }

  .card-actions {
    box-sizing: border-box;
    padding: 0 35px;
    padding-bottom: 20px;
    width: 100%;
  }

  .form-container {
    padding-top: 10px;
    width: 100%;

    form {
      padding: 0 35px;

      mat-form-field {
        padding-bottom: 10px;
        width: 100%;
      }
    }
  }

  .mat-snackbar-container {
    background: $primary-4;
    color: red;
    text-align: center;
  }
}
